In [4]:
import fix_yahoo_finance as yf
import math
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
from IPython.display import display
from core.date_utils import next_date

from core.live_data_processor import LiveDataLoader
from core.model import Model
gld_dataframe = yf.download(tickers="GLD", start="2019-03-01")
display(gld_dataframe.head(5))
data = LiveDataLoader(
    dataframe=gld_dataframe,
    split=0.8,
    cols=['Open', 'Close', 'Volume']
)
x, y = data.get_train_data(30, True)
display_x_train = np.reshape(x, (-1, 3))
display(pd.DataFrame(display_x_train).head(5))
display_y_train = np.reshape(y, (-1, 1))
display(pd.DataFrame(display_y_train).head(5))

[*********************100%***********************]  1 of 1 downloaded

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-02-28,124.709999,124.709999,123.980003,123.989998,123.989998,7811700
2019-03-01,123.480003,123.959999,121.870003,121.879997,121.879997,16411700
2019-03-04,121.559998,121.849998,121.180000,121.559998,121.559998,10272600
2019-03-05,121.379997,121.730003,121.029999,121.720001,121.720001,7120100
2019-03-06,121.430000,121.639999,121.260002,121.610001,121.610001,4820400

AttributeError: 'NoneType' object has no attribute 'values'